body {
  background-color: #EEE;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

header {
  font-size: 24px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

#content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 64px;
}

.textareas, .inputs > div {
  display: flex;
}

.box {
  display: block;
  flex: 1;
}

.box-left {
  padding-right: 4px;
}

.box-right {
  padding-left: 4px;
}

textarea, input {
  border-radius: 10px;
  border: 1px solid #AAA;
}

textarea {
  font-family: Arial;
  resize: none;
  width: 99%;
  height: 128px;
}

.inputs > div {
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.list > label, .options > label {
  padding-right: 4px;
}

.list > input {
  flex: 1;
}

.options {
  flex-wrap: wrap;
}

.options > label {
  padding-left: 20px;
}

input {
  -webkit-appearance: none;
  padding: 4px;
}

input[type=submit], input[type=checkbox] {
  cursor: pointer;
}

input[type=submit] {
  border: none;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

input[type=checkbox] {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type=checkbox]:checked {
  background-color: #333;
}

input[type=checkbox]:after {
  top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

hr {
  border: 1px dotted lightgrey;
}

#info, #lexicon {
  font-weight: normal;
}

#info {
  font-style: italic;
}

#lexicon {
  white-space: pre-wrap;
}