body {
  background-color: hsl(0, 0%, 99%);
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

nav {
  font-size: 18px;
  margin-top: 16px;
}

nav > a {
  color: #333;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #F67280;
}

header > a {
  color: white;
  padding: 4px;
}

footer {
  font-weight: normal;
  margin-bottom: 16px;
}

.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.textareas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;
}

.box {
  flex-grow: 2;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

textarea, input, button {
  border-radius: 10px;
  border: 1px solid #AAA;
  outline: none;
}

textarea, input[type=text], input[type=number] {
  font-size: 15px;
}

textarea {
  position: relative;
  resize: none;
  width: 98%;
  height: 200px;
  padding: 4px;
}

.inputs > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.list > label, .options > label {
  margin-right: 4px;
}

.list > input {
  flex: 1;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.options > div {
    margin-right: 15px;
}

input {
  -webkit-appearance: none;
  padding: 4px;
}

input[type=submit], button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 8px;
}

input[type=submit]:active, button:active {
  background-color: #DDD;
}
  

input[type=checkbox] {
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 4px;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

input[type=checkbox]:checked {
  background-color: #333;
}

/* IPA stuff */
table {
  flex-flow: wrap;
}

.letter {
  width: 32px;
  height: 32px;
  font-size: 16px;
  margin: 0;
  border-bottom: 2px dotted lightgrey;
  border-right: 2px dotted lightgrey;
  background-color: inherit;
  color: #F67280;
}

#divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

hr {
  border: none;
  border-top: 2px dotted lightgrey;
  margin: 0;
  padding: 0;
}

#info, #ipaChart {
  font-weight: normal;
  font-style: italic;
  padding-top: 6px;
  padding-bottom: 4px;
}

#lexicon {
  font-weight: normal;
  display: block;
  white-space: pre-wrap;
  margin: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Guide CSS */
p, ul, blockquote, h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

p, ul, blockquote {
  font-weight: normal;
}

blockquote {
  background-color: #EEE;
  max-width: 480px;
  font-family:'Courier New', Courier, monospace;
}

ul {
  list-style: none;
}

.c1 {
  color: #F67280;
}

.c2 {
  color: #C06C84;
}

.c3 {
  color: #355C7D;
}

.c4 {
  color: #F8B195;
}

.hide {
  visibility: hidden;
}